.addBtn {
  font-size: 20px;
  align-self: center;
  text-align: center;
  padding: 7%;
  padding-bottom: 13%;
  border-radius: 50px;
  background-color: #e8b912;
  border-color: whitesmoke;
  color: white;
  width: 160%;
  margin-bottom: 60%;
}
.addBtn:hover .after {
  /* opacity: 0.8; */
  font-size: 19px;

  /* content: "Add your movie"; */
  display: inline;
}
.addBtn .after {
  display: none;
}
.addBtn:hover .before {
  display: none;
}
/* button:hover .after {
  display: inline;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;

  width: 100%;
  background-color: white;
  color: black;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  opacity: 0.85;
}
form input {
  margin-bottom: 5%;
  border-radius: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 25px;
}
form label {
  font-weight: bold;
  margin-bottom: 3%;
}
.rating {
  /* padding: 5%; */
  text-align: center;
}

#transition-modal-title {
  color: white;
  text-align: center;
  margin-bottom: 5%;
  font-size: 29px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}

.submit {
  background-color: #e8b912;
  color: white;
  height: 30px;
  width: 50%;
  font-size: 20px;
  margin-top: 2%;
}
.submit:hover {
  opacity: 0.85;
}

.type {
  display: flex;
  width: 90%;
  height: 100px;
}
.type input {
  margin-top: 0%;
  margin-right: 10%;
}
.type label {
  margin-top: 0%;
  margin-right: 7%;
}
