.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 14%;
  margin-bottom: 20%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 17px;
  /* flex-wrap: wrap; */
}
